body
{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #48054d;
    flex-direction: row;
    margin: 0;
}

#title
{
    color: white;
    text-align: center;
}

table
{
    width: 700px;
    height: 400px;
    background-color: #eee;
    border: 1px solid #666666;
    text-align: center;
}

#btnShowSearchUser
{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: #48054d;
    cursor: pointer;
    background-color: #ffffff;
    width: 25%;
    font-size: 15px;
    font-weight: bold;
}

.rowFriend
{
    display: table-row;
    width: 700px;
    clear: both;
    text-align: center;
}

td
{
    text-align: center;
}

p
{
    font-size: 15px;
    text-align: center;
    width: 50px;
}

.imgUserIcon
{
    width: 50px;
    height: 50px;
}

.imgUserState
{
    width: 25px;
    height: 25px;
}

#btnSearchUser
{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: #48054d;
    cursor: pointer;
    background-color: #ffffff;
    width: 15%;
    font-size: 15px;
    font-weight: bold;
}

.hidden
{
    visibility: hidden;
    display: none;
    z-index: 0;
}

.visible
{
    visibility: visible;
    z-index: 10 ;
}

#imgHome
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: -5px;
}

#imgHome:hover
{
    transform: scale(1.2);
}

#txtboxUserToSearch{
    width: 280px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 55px;
    margin-right: 5px;
    text-align: center;
}