body{
    background: #f3f3f3;
}

.containerTeams
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    margin-top: -100px;
}

.main
{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

.flex
{
    border-radius: 10px;
    max-width: 100%;
    height: 160px;
    width: 160px;
}

h1 { color: #48054d; }
h3 { color: #d44848; }

label
{
    width: 100%;
    margin-left: 20px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

button
{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #48054d;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

tableFriendContainer
{
    text-align: center;
}

div
{
    margin: 5px;
    align-self:center;
    flex-direction: column;
}

#imgVersus
{
    width: 90px;
    height: 90px;
}

.img
{
    width: 25px;
    height: 25px;
}

.imgUserIcon
{
    width: 50px;
    height: 50px;
}

.tooltip-wrap {
    position: relative;
}
.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    min-width: 10rem;
}
.tooltip-wrap:hover .tooltip-content {
    display: inline;
}

h2 p
{
    display: inline;
    color: green;
}

.tdUsername
{
    width: 150px;
    text-align: center;
}

#tableFriend
{
    overflow-y:scroll;
    height:250px;
    display:block;
}