body {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    background-color: black;
    flex-direction: row;
    margin: 0;
}

.main
{
    margin-left: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

.flex
{
    border-radius: 10px;
    max-width: 100%;
    height: 160px;
    width: 160px;
}

h1 { color: #48054d; }
h3 { color: #d44848; }

label
{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

button
{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #48054d;
    width: 100%;
    font-size: 16px;
}

#spanListConainter
{
    border: 2px solid #000;
    background-color: #48054d;
    border-radius: 15px;
    margin-left: 100px;
    width: 300px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#friendListContainer
{

    overflow: auto;
}

.friend
{
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.listElement
{
    display: inline;
    padding: 20px;
    width: 80px;
}

.listElement p
{
    font-size: 15px;
    width: 50px;
    text-align: center;
    color: white;
}

.imgUserIcon
{
    width: 50px;
    height: 50px;
}

.imgUserState
{
    width: 25px;
    height: 25px;
}