body
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: black; /* background: #f3f3f3; */
    flex-direction: column;
    margin: 0;
}

#mainContainer
{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    text-align: center;
    width: 1000px;
}

#gameContainer
{
    display: flex;
    justify-content: space-between;
}

#containerGameArea
{
    width: 500px;
    background-color: #8fd19e;
}

.info-match-container {
    display: flex;
    align-items: center;
}
.specialBtnContainer {
    display: flex;
    align-items: center;
}
.pass_btn-container {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: auto;
}

.taboo_btn-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25%;
}

.timer-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.timer-label {
    margin-right: 10px;
}

.timer-value {
    margin-right: 10px;
}

.username-container {
    margin-left: auto;
    margin-right: auto;
}

#containerTableRival
{
    text-align: center;
}

#containerTableFriend
{
    text-align: center;
}

.img
{
    width: 25px;
    height: 25px;
}

#hourglassIcon
{
    width: 15px;
    height: 15px;
}

.flex
{
    border-radius: 10px;
    max-width: 100%;
    height: 160px;
    width: 160px;
}

#tableFriend
{
    overflow-y:scroll;
    height:250px;
    display:block;
    width: 200px;
    background-color: #d44848;
}

#tableRival
{
    overflow-y:scroll;
    height:250px;
    display:block;
    width: 200px;
    background-color: #007bff;
}

button
{
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #48054d;
    width: 50%;
    font-size: 16px;
    font-weight: bold;

}

.disabled {
    opacity: 0.5; /* Opacità ridotta per il pulsante disabilitato */
    cursor: not-allowed; /* Cambia il cursore quando si passa sopra il pulsante disabilitato */
}

.enabled {
    opacity: 1; /* Opacità ripristinata per il pulsante disabilitato */
     /* Cambia il cursore quando si passa sopra il pulsante disabilitato */
}

#img_taboo_text
{
    border-radius: 5px;
    height: 60px;
    width: auto;
}

.tabooBtn{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

#img_pass_card
{
    border-radius: 5px;
    height: 61px;
    width: auto;
}

.passBtn{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

.textboxWordToGuess
{
    width: 500px;
}

