body
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #48054d;
    flex-direction: column;
    margin: 0;
}

.role
{
    display: inline-flex;
    font-family: sans-serif;
    justify-content: center;
    font-size: 25px;
    color: #d44848;
}

.importantText
{
    font-family: sans-serif;
    font-size: 25px;
    display: inline-flex;
    font-weight: bold;
    color: #d44848;
}

::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mainContainer
{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    text-align: center;
    width: 1000px;
}

#gameContainer
{
    display: flex;
    justify-content: space-between;
    height: 350px;
}

#gameArea
{
    display: inline-flex;
    width: 500px;
    height: 350px;
    background-color: green;
}

#tabooCardGameArea
{
    width: 50%;
    height: 350px;
    border-radius: 10px;
    background-color: #02a089;
}

h1
{
    margin: 0;
    padding: 20px 0 0;
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

#chatArea
{
    display:block;
    width: 50%;
    height: 350px;
    background-color: #7abaff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3
{
    margin: 0;
    padding: 5px 0 0;
    color: darkblue;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

#textChat
{
    width: 100%;
    height: 315px;
    background-color: #e83e8c;
    text-align: center;
    border-radius: 8px;
    overflow-y: scroll;
}

.list
{
    background: #fff;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    margin: auto;
}

ul
{
    list-style: none;
}

li
{
    margin-left: -50px;
    padding-top: 20px;
}


.info-match-container {
    display: flex;
    align-items: center;
}
.specialBtnContainer {
    display: flex;
    align-items: center;
}
.pass_btn-container {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: auto;
}

.taboo_btn-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25%;
}

.timer-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.timer-label {
    margin-right: 10px;
}

.timer-value {
    margin-right: 10px;
}

.username-container {
    margin-left: auto;
    margin-right: auto;
}

#containerTableRival
{
    text-align: center;
    border: 3px solid #007bff;
    border-radius: 50px;
}

#containerTableFriend
{
    text-align: center;
    border: 3px solid #d44848;
    border-radius: 50px;
}

.img
{
    width: 25px;
    height: 25px;
}

#hourglassIcon
{
    width: 25px;
    height: 25px;
}

.flex
{
    border-radius: 10px;
    max-width: 100%;
    height: 160px;
    width: 160px;
}

#tableFriend
{
    overflow-y:scroll;
    height:250px;
    display:block;
    width: 200px;
}

#tableRival
{
    overflow-y:scroll;
    height:250px;
    display:block;
    width: 200px;
}

button
{
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #48054d;
    width: 50%;
    font-size: 16px;
    font-weight: bold;

}

.disabled {
    opacity: 0.5; /* Opacità ridotta per il pulsante disabilitato */
    cursor: not-allowed; /* Cambia il cursore quando si passa sopra il pulsante disabilitato */
}

.enabled {
    opacity: 1; /* Opacità ripristinata per il pulsante disabilitato */
     /* Cambia il cursore quando si passa sopra il pulsante disabilitato */
}

#img_taboo_text
{
    border-radius: 5px;
    height: 60px;
    width: auto;
}

.tabooBtn{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

#img_pass_card
{
    border-radius: 5px;
    height: 61px;
    width: auto;
}

.passBtn{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

.textboxWordToGuess
{
    width: 500px;
}

.imgUserIcon
{
    width: 50px;
    height: 50px;
}

.tdUsername
{
    width: 150px;
    text-align: center;
}